.header {
    background: linear-gradient(
        to bottom right,
        rgb(30, 30, 30),
        75%,
        rgb(160, 0, 0)
    );
    height: 250px;
}
.headerBox {
    align-items: center;
    display: flex;
    height: 250px;
    justify-content: center;
    margin: auto;
    width: 250px;
}

.headerH1 {
    color: white;
    font-size: 100px;
}

@media screen and (max-width: 700px) {
    .headerH1 {
        font-size: 75px;
    }
}
